<button (click)='ngOnInit()'>Reiniciar</button>
<section>
<div class="campo_a1" (click)="clicou(1)"><img src="{{imagem1}}"></div>
<div class="campo_a2" (click)="clicou(2)"><img src="{{imagem2}}"></div>
<div class="campo_a3" (click)="clicou(3)"><img src="{{imagem3}}"></div>
<div class="campo_b1" (click)="clicou(4)"><img src="{{imagem4}}"></div>
<div class="campo_b2" (click)="clicou(5)"><img src="{{imagem5}}"></div>
<div class="campo_b3" (click)="clicou(6)"><img src="{{imagem6}}"></div>
<div class="campo_c1" (click)="clicou(7)"><img src="{{imagem7}}"></div>
<div class="campo_c2" (click)="clicou(8)"><img src="{{imagem8}}"></div>
<div class="campo_c3" (click)="clicou(9)"><img src="{{imagem9}}"></div>
</section>















